body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #1c1c1c;
}

.navbar h1, .navbar p {
    color: #ffffff;
}

section {
    background-color: #181818;
    color: #ffffff;
}

.btn-outline-light {
    border-color: #ffffff;
    color: #ffffff;
}

.btn-outline-light:hover {
    background-color: #ffffff;
    color: #121212;
}

#display {
    height: 500px;
    background-color: #181818;
}

p {
    font-size: 18px;
}

.embed-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
}

.embed-responsive iframe {
    width: 100%;
    height: 100%;
    border: none;
}
