/* Fondo oscuro y estilos elegantes */
body {
    background-color: #1d1f21;
}

header {
    background-color: #2a2d31;
}

.list-group-item {
    background-color: #33363b;
    border: 1px solid #4b4f54;
    color: #d1d5db;
    transition: background-color 0.3s, color 0.3s;
}

.list-group-item:hover {
    background-color: #4b4f54;
    color: #ffffff;
}

/* Estilo para la pantalla de visualización */
#display {
    background-color: #33363b;
    padding: 1rem;
    height: 400px; /* Altura definida para el iframe */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d1d5db;
    border: 1px solid #4b4f54;
}

/* Ajuste responsivo */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    #display {
        height: 300px;
    }

    .list-group-item {
        font-size: 0.9rem;
    }
}
