body {
    background-color: #121212; /* Color de fondo oscuro */
    color: #ffffff; /* Color del texto */
    font-family: Arial, sans-serif; /* Fuente */
}

.main-title {
    font-weight: bold;
    font-size: 2.5rem; /* Tamaño del título principal */
}

.sub-title {
    font-size: 1.5rem; /* Tamaño del subtítulo */
}

.description {
    font-size: 1rem; /* Tamaño de la descripción */
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinear a la izquierda */
    padding: 20px;
}

.btn-dark {
    background-color: #444; /* Color oscuro para botones */
    border: none; /* Sin borde */
    margin-bottom: 10px; /* Espacio entre botones */
    width: 80%; /* Reducir ancho de los botones */
}

.stream-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.chat-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #222; /* Color de fondo del pie de página */
    position: relative;
    bottom: 0;
    width: 100%;
    color: #ffffff; /* Color del texto del pie de página */
}
