/* Estilo general para el cuerpo */
body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 50px);
  width: 100%;
  padding: 0 20px;
  margin-bottom: 30px;
}

/* Estilo del banner */
.banner {
  position: relative;
  text-align: center;
  color: white;
  background-image: url("../imagenes/banner00.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 100px 20px;
  margin-bottom: 30px;
}

/* Título principal */
.main-title {
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 50px;
  margin-bottom: 10px;
}

/* Subtítulo */
.sub-title {
  font-size: 1.5rem;
}

/* Descripción */
.description {
  font-size: 1rem;
  margin-bottom: 20px;
}

/* Contenedor del juego */
#game-container {
  margin-top: 30px;
}

/* Estilo del pie de página */
.footer {
  text-align: center;
  padding: 10px;
  background-color: #222;
  width: 100%;
  color: #ffffff;
}

/* Estilos para el tablero de juego */
.screen {
  position: relative;
  width: 300px;
  height: 600px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  touch-action: manipulation;
}

#skull {
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 36px;
  bottom: 20px;
  left: 125px;
  color: white;
}

.bullet {
  position: absolute;
  width: 20px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  color: white;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  font-size: 18px;
  display: none;
  color: white;
  z-index: 1;
}

.button {
  position: absolute;
  bottom: 50px;
  cursor: pointer;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

#welcome-image {
  width: 80%;
  max-height: 50%;
  object-fit: contain;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .btn-dark {
    width: 100%;
  }
}
