body {
  background-color: #121212; /* Color de fondo oscuro */
  color: #ffffff; /* Color del texto */
  font-family: Arial, sans-serif; /* Fuente */
}

html,
body {
  height: 100%; /* Asegúrate de que el body ocupe el 100% de la altura */
  margin: 0; /* Elimina el margen por defecto del body */
}

.banner {
  position: relative; /* Permite posicionar el contenido encima de la imagen de fondo */
  text-align: center; /* Centra el texto dentro del banner */
  color: white; /* Color del texto del banner */
  background-image: url("../imagenes/banner00.png"); /* Ruta de tu imagen de fondo */
  background-size: cover; /* La imagen cubre todo el contenedor */
  background-position: center; /* Centra la imagen dentro del banner */
  width: 100%; /* Asegura que el banner ocupe el ancho completo */
  padding: 100px 20px; /* Añade espacio alrededor del texto (puedes ajustar según necesites) */
  margin: 0; /* Sin márgenes para el banner */
  overflow: hidden; /* Asegura que nada se salga del contenedor */
  margin-bottom: 30px; /* Ajustar el espacio abajo del subtítulo */
}

.container {
  display: flex;
  flex-direction: column; /* Asegúrate de que los hijos se apilen verticalmente */
  min-height: calc(
    100vh - 50px
  ); /* Resta la altura del footer del 100% de la vista */
  margin-bottom: 30px; /* Espacio adicional antes del footer */
}

.main-title {
  font-weight: bold;
  font-size: 2.5rem; /* Tamaño del título principal */
  margin-top: 50px; /* Eliminar el margen superior */
  margin-bottom: 10px; /* Ajustar el espacio abajo del subtítulo */
}

.sub-title {
  font-size: 1.5rem; /* Tamaño del subtítulo */
}

.description {
  font-size: 1rem; /* Tamaño de la descripción */
  margin-bottom: 20px;
}

#game-container {
  margin-top: 30px;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #222; /* Color de fondo del pie de página */
  width: 100%;
  color: #ffffff; /* Color del texto del pie de página */
}

/* Estilo para el navbar */
.navbar {
  background-color: #343a40; /* Color de fondo oscuro similar a los botones */
  border-radius: 0.25rem; /* Bordes redondeados */
  padding: 10px 0; /* Espaciado interno */
}

/* Estilo para los enlaces del navbar */
.navbar-nav .nav-link {
  color: #ffffff; /* Color del texto */
  transition: background-color 0.3s, color 0.3s; /* Transición suave al pasar el mouse */
}

/* Efecto hover para los enlaces del navbar */
.navbar-nav .nav-link:hover {
  background-color: #ca3939; /* Color de fondo al pasar el mouse */
  color: #ffffff; /* Color del texto al pasar el mouse */
  border-radius: 0.25rem; /* Bordes redondeados */
}

@media (max-width: 768px) {
  .btn-dark {
    width: 100%; /* Abarcar el ancho completo en móviles */
  }
}
